* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

input,
button {
    font-family: inherit;
    background: transparent;
    outline: unset;
    border: unset;
    cursor: pointer;
}

header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: space-evenly;
    padding: 40px 30px;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
}

header input {
    outline: 2px solid #ffffff;
    padding: 1rem;
    height: 40px;
    width: 25%;
    font-size: 1.5rem;
    color: #ffffff;
}

header input:hover,
header input:focus {
    border: 1px solid #ffffff;
}

header input::placeholder {
    color: #ffffff;
}

/* main */
main {
    max-width: 840px;
    margin: 0 auto;
    border: 2px solid #fbebdf;
}