body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
  min-height: 100vh;
}

img {
  height: 200px;
  width: 160px;
  object-fit: cover;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: inherit;
}

nav {
  display: flex;
}

ul {
  display: flex;
  gap: 25px;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

ol li {
  margin-bottom: 15px;
}

main {
  display: flex;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

main p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

button {
  cursor: pointer;
  background: transparent;
  color: inherit;
  outline: unset;
  width: 150px;
  height: 45px;
  margin: 15px auto 0 auto;
  border: 2px solid #fff;
}

footer {
  text-align: center;
}