* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

button,
input {
    outline: unset;
    border: unset;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
}

button {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 24px;
    padding: .045rem 1rem;
}

button i {
    color: #fda085;
    /* Icon color */
    transition: color 0.3s ease;
}

button:hover {
    background-color: #fda085;
    transform: translateY(-3px);
}

button:hover i {
    color: #ffffff;
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f6d365;
}

button:focus i {
    color: #ffffff;
}

button:active {
    transform: translateY(2px);
    background-color: #f6d365;
}

button:active i {
    color: #ffffff;
}

input {
    transition: all 0.3s ease;
    
}

/* Hover effect */
input:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Light background change on hover */
    transform: scale(1.05);
    /* Slightly scale up the element */
}

/* Focus effect */
input:focus {
    outline: 2px solid #fda085;
    /* Outline when focused */
    background-color: rgba(0, 0, 0, 0.05);
    /* Subtle background change */
    transform: scale(1.02);
    /* Slight scaling effect when focused */
}

/* Active (press) effect */
input:active {
    background-color: rgba(0, 0, 0, 0.2);
    /* Darker background when pressed */
    transform: scale(0.98);
    /* Slightly scale down when active */
}