* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

button {
    margin: 15px 0;
}

input {
    background: transparent;
    outline: unset;
    border: unset;
}