* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div {
    display: flex;
    gap: 15px;
}

div input {
    padding: 8px 45px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid slategray;
    border-radius: 8px;
}

div button {
    width: 100px;
    border-radius: 8px;
    background: transparent;
}