@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhai 2", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.btn_container {
  display: flex;
  margin-top: 50px;
  gap: 5px;
  justify-content: center;
}

button {
  text-align: center;
  padding: 10px 45px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 25px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  transition: background 0.3s ease;
  cursor: pointer;
}

#on {
  background: #4caf50;
}

#off {
  background: #f44336;
}

#on:hover {
  background: #45a049;
}

#off:hover {
  background: #d32f2f;
}

/* Focus effects */
#on:focus,
#off:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* click effects */
#on:active {
  background: #388e3c;
}

#off:active {
  background: #c62828;
}
